<div class="col">
  <div class="card h-100">
    <div class="card-header bg-navy">
      <h2 class="h5 p-2 card-title text-light event-card-header">
        {% comment %}
        <a href="{{ event.url }}" class="text-light link-underline-opacity-0">{{ event.title }}</a>
        {% endcomment %}
        <span>{{ event.title }}</span>
      </h2>
    </div>
    <div class="card-body">
      <p class="h6 mb-2 card-subtitle fw-bold">
        <i class="bi-calendar text-secondary" title="Event time" aria-label="Event time"></i>
        <span data-date-time="{{ event.start-date | date_to_xmlschema }}"></span>
      </p>
      <p class="h6 card-subtitle fw-bold">
        <i class="bi-geo-alt-fill text-secondary" title="Event location" aria-label="Event location"></i>
        {% if event.map-link %}
          <a href="{{ event.map-link }}" target="_blank">{{ event.location }}</a>
        {% else %}
          <span>{{ event.location }}</span>
        {% endif %}
      </p>
      <p class="card-text border-top border-1 mt-3 border-black">
      {% assign truncateText = '… <a href="' | append: event.url | append: '">See more</a>'  %}
      {{ event.content | truncatewords: 30, truncateText }}
      </p>
    </div>
    <div class="d-flex flex-row-reverse p-0 card-footer bg-transparent border-0">
      <a class="m-0 px-3 py-2 bg-secondary text-black link-underline-opacity-0" href="{{ event.link.url | default: event.url }}" title="{{ event.link.name | default: "Event Details" }}" target="_blank">
        <i class="bi-arrow-up-right fs-4"></i>
      </a>
    </div>
  </div>
</div>

