body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2em;
}

h1, .h1 {
  font-size: 4em;
  font-weight: bold;
}

h2, .h2 {
  font-size: 3em;
  font-weight: bold;
}

h3, .h3 {
  font-size: 2em;
  font-weight: bold;
}
