body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2em;
}

h1, .h1 {
  font-size: 3em;
  font-weight: bold;
}

h2, .h2 {
  font-size: 2.25em;
  font-weight: bold;
}

h3, .h3 {
  font-size: 2em;
  font-weight: bold;
}

.event-card-header {
  min-height: 3.25em;
}

.navbar .nav-item {
  text-transform: uppercase;
  padding-right: 1rem;
}

.nav-item.active > .nav-link {
  color: #FFFFFF;
  border-bottom: 2px solid $secondary;
}

.navbar-brand-logo {
  height: 1em;
}

.page-header {
  padding-top: 7em;
  padding-bottom: 5em;
  min-height: calc(25vh - 4em);
}

.page-header-text h1 {
  text-transform: uppercase;
}

.cover {
  opacity: 0.93;
  text-align: center;
  min-height: calc(100vh - 4em);
}

.cover, .page-header, .navbar {
  opacity: 0.93;
}

button, .btn {
  text-transform: uppercase,
}

.btn-arrow-icon {
  width: 2em;
  height: 2em;
}
