// Set base color variables

$primary: #001131;
$secondary: #00BDE3;
// $light: #CFCED3;
// $dark: #1C2327;

// Override the colors from the Boostrap color map using the EDC colors
$blue: #00BDE3;
$purple: #451298;
$orange: #FF6600;
$yellow: #FEB300;
