---
---
@import "bootstrap/functions";
@import "colors";
@import "bootstrap/variables";
@import "bootstrap/variables-dark";
@import "customize";
@import "bootstrap/maps";
@import "bootstrap/mixins";
@import "bootstrap/root";

.cover-lead {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4em;
}

// 4em "falls off" the screen of even larger mobile devices;
// scaling down a bit fits the content a little better.
@include media-breakpoint-down(sm) {
  .cover-text {
    font-weight: bold;
    font-size: 2em;
  }
}

$bgcolor: rgba(0, 17, 49, .93);

.cover {
  opacity: 0.93;
  text-align: center;
  min-height: calc(100vh - 4em);
}

.navbar {
  opacity: 0.93;
}

ul.text-list {
  list-style: none;
}
ul.text-list li::before {
  content: "•";
  color: #00BDE3;
  display: inline-block;
  width: 1em;
}
