---
layout: page
custom-scripts:
 - "/assets/js/colorize-name.js"
---

{{ content }}

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for tool in site.tools %}
  <div class="col">
    <div class="card h-100">
      {% if tool.featured %}
      <div class="card-header">
        Featured
      </div>
      {% endif %}
      <div class="card-body">
        <h2 class="h4 card-title fw-bold">{{ tool.title }}</h2>
        <p class="h6 mb-0 p-1 w-0 d-inline-block tool-author-name small">{{ tool.author }}</p>
        <p class="card-text mt-0 pt-3 border-top border-1 mt-3">{{ tool.content | strip_html | truncatewords: 20 }}</p>
      </div>
      <div class="d-flex flex-row-reverse p-0 card-footer bg-transparent border-0">
        <a class="m-0 px-3 py-2 bg-secondary text-black link-underline-opacity-0" href="{{ tool.link }}" title="View details" target="_blank">
          <i class="bi-arrow-up-right fs-4"></i>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
